<app-page-loader *ngIf="isLoading"></app-page-loader>

<div *ngIf="!isLoading">
  <app-header [header]="'My blogs'"></app-header>

  <div class="bg-white font-[sans-serif] mb-4 mx-auto rounded-md max-w-4xl">
    <div class="mx-auto p-10">
      <div
        *ngIf="blogs.length > 0"
        class="grid grid-cols-1 md:grid-cols-2 gap-4 max-lg:max-w-3xl max-md:max-w-md mx-auto"
      >
        <app-myblog
          *ngFor="let item of blogs; let i = index"
          [blog]="item"
          (blogDeleted)="onDeleteAlert($event, i)"
        >
        </app-myblog>
      </div>
    </div>
  </div>

  <app-delete-alert
    *ngIf="showDeleteModal"
    (alertResponse)="onDeleteConfirm($event)"
  ></app-delete-alert>
</div>
