<app-page-loader *ngIf="isLoading"></app-page-loader>

<div *ngIf="!isLoading">
  <app-header [header]="'My blogs'"></app-header>

  <!-- Topic Nav -->
  <nav
    class="w-full py-2 border-t border-b bg-gray-100"
  >
    <div class="block sm:hidden">
      <a
        class="block md:hidden text-base font-bold uppercase text-center lg:flex justify-center items-center"
      >
        Topics
        <i class="fas ml-2"></i>
      </a>
    </div>
    <div class="w-full flex-grow sm:flex sm:items-center sm:w-auto">
      <div
        class="w-full container mx-auto flex flex-col sm:flex-row items-center justify-center text-sm font-bold uppercase mt-0 px-6 py-2"
      >
        <a (click)="onSelectInterest('')" [ngClass]="{'bg-gray-400': category === '' }"
           class="hover:bg-gray-400 rounded py-2 px-4 mx-2 cursor-pointer">All</a>
        <a (click)="onSelectInterest(ctgry)" *ngFor="let ctgry of categories"
            class="hover:bg-gray-400 rounded py-2 px-4 mx-2 cursor-pointer"
            [ngClass]="{'bg-gray-400': category === ctgry }"
            >{{ ctgry }}
        </a>
      </div>
    </div>
  </nav>

  <div class="bg-white font-[sans-serif] mb-4 mx-auto rounded-md max-w-4xl">
    <div class="mx-auto p-10">
      <div
        *ngIf="blogs.length > 0"
        class="grid grid-cols-1 md:grid-cols-2 gap-4 max-lg:max-w-3xl max-md:max-w-md mx-auto"
      >
        <app-myblog
          *ngFor="let item of blogs; let i = index"
          [blog]="item"
          (blogDeleted)="onDeleteAlert($event, i)"
        >
        </app-myblog>
      </div>
      <div class="w-full text-center py-6" *ngIf="hasMoreBlogs">
        <button
          (click)="loadMoreBlogs()"
          class="px-4 py-2 bg-blue-500 text-white font-bold rounded hover:bg-blue-600">
          Load More
        </button>
      </div>
    </div>
  </div>

  <app-delete-alert
    *ngIf="showDeleteModal"
    (alertResponse)="onDeleteConfirm($event)"
  ></app-delete-alert>
</div>
